<a href="https://colab.research.google.com/github/zx34780zx/Python20210425/blob/main/%E8%B3%B4%E6%9F%8F%E5%AE%87_%E8%B3%87%E6%96%99%E5%9E%8B%E6%85%8B(data_Type)%E5%8F%8A%E5%85%B6%E9%81%8B%E7%AE%97.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 17 / 3
b = 17 // 3
c = 17 % 3

a,b,c

(5.666666666666667, 5, 2)

In [2]:
x = 5
print(x > 3 and x < 10)

True

In [3]:
x = 5
print(x > 3 or x < 4)

True

In [6]:
x = 888
print(not(x > 3 and x < 10))

True

In [7]:
#!/usr/bin/python3
 
a = 60            # 60 = 0011 1100 
b = 13            # 13 = 0000 1101 
c = 0

print ("0 - a =  60 = 0011 1100(二進位) ")
print ("0 - b =  13 = 0000 1101(二進位) ")
c = a & b;        # 12 = 0000 1100
print ("1 - c = a & b的值為：", c)
 
c = a | b;        # 61 = 0011 1101 
print ("2 - c = a | b的值為：", c)
 
c = a ^ b;        # 49 = 0011 0001
print ("3 - c= a ^ b 的值為：", c)
 
c = ~a;           # -61 = 1100 0011
print ("4 - c = ~a的值為：", c)
 
c = a << 2;       # 240 = 1111 0000
print ("5 - c = a << 2的值為：", c)
 
c = a >> 2;       # 15 = 0000 1111
print ("6 - c = a >> 2的值為：", c)

0 - a =  60 = 0011 1100(二進位)
0 - b =  13 = 0000 1101(二進位)
1 - c = a & b的值為： 12
2 - c = a | b的值為： 61
3 - c= a ^ b 的值為： 49
4 - c = ~a的值為： -61
5 - c = a << 2的值為： 240
6 - c = a >> 2的值為： 15

In [8]:
#Round a number to only two decimals:
x = round(5.76543, 2)
print(x)


# Round to the nearest integer:
y = round(5.76543)
print(y)

5.77
6

In [9]:
a = 1.0004
int(a)

b = 0.9999
int(a)

1

In [10]:
var1 = 'Hello Python!'

print("var1[0]: ", var1[0])
print("var1[1:8]: ", var1[1:8]) # Slicing 切片運算

var1[0]:  H
var1[1:8]:  ello Py

In [11]:
b = "Hello, World!"
print(b[2:5])
print(b[:5])
print(b[2:])
print(b[-5:-2]) # Negative Indexing
# 參考資料 https://www.w3schools.com/python/python_strings_slicing.asp

llo
Hello
llo, World!
orl

In [19]:
str1='happy python day'
str2='    Oh!   '
str3=' yeah '

str4=str1 + str2 +str3   # 字串串接String Concatenation運算

print(str4.capitalize())

mystr = 'python'

Happy python day    oh!    yeah

In [20]:
list1 = [21, 33, 14, 12, 32, 98]

list1[1]
list1[-2]
list1[1:3]  # 切片運算

[33, 14]

In [21]:
list1 = [21, 33, 14, 12, 32, 98]

len(list1)
max(list1)
min(list1)
sum(list1)

210

In [22]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}

print("dict['Name']: ", dict['Name'])
print("dict['Age']: ", dict['Age'])

dict['Name']:  DaDaLong
dict['Age']:  17

In [23]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
dict.items()

dict_items([('Name', 'DaDaLong'), ('Age', 17), ('Class', 'First')])

In [24]:
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.items())
dict = {'Name': 'DaDaLong', 'Age': 17, 'Class': 'First'}
list(dict.keys())

['Name', 'Age', 'Class']

In [25]:

from queue import Queue
q = Queue()
q.put(1)
q.put(2)
q.put(3)
q
print(q.queue)
q.get()

deque([1, 2, 3])

1